
.location-subheader {
    text-align: left;
    padding: 0 30px 20px;
    color: #333;
    display: flex;
}

.location-subheader span {
    font-size: 40px; 
    color: #333;
}

.location-subheader div {
    color: #333;
    font-size: 16px;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 0 7px;
}


.first-delievery-para {
    font-weight: 700;
}

.Second-delievery-para {
    font-weight: 400;
    line-height: 2;
}

.Delievery-Address-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 30px;
    margin: 0 20px;
}

.All-Adresses {
    display: block;
    color: #6d6d6d;
    font-size: 14px;   
}

.Delievery-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.67;
    color: #333;
    text-transform: capitalize;
}

.Address-status {
    color: #b09975;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 4px
}

.delievery-Contact {
    color: #6d6d6d;
    font-size: 14px;
}

.delievery-Contact span {
    font-weight: 600;
}

.Delievery-Address-section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.COD-box {
    border-radius: 5px;
    border: .5px dashed #c6c6c6;
    background-color: #fff;
    padding: 20px 50px 20px 20px;
}


.COD-Box-Span {
    font-weight: 600;
    color: #39b54a;
    font-size: 14px;
    line-height: 1.57;
}

.COD-Box-p {
    color: #333;
}

.COD-Box-p span{
    font-weight: 600;
}

.Change-Address-btn {
    margin: 40px 0 0 50px;
    background: none;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: .28px;
    cursor: pointer;
    display: inline-block;
    color: #176c93;
}

.Delievery-Address-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Delievery-Address-heading p {
    margin-top: 12px;
    font-size: 20px;
    float: left;
    padding-bottom: 8px;
    font-family: 'Lora', serif;
    color: #333;
}

.Delievery-Address-heading span {
    cursor: pointer;
}

.edit-delivery-address {
    width: 400px;
}

.Address-All-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Save-Adress-btn {
    padding: 10px;
    width: 250px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #d5a249;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}

.Save-Adress-btn:hover {
    outline: 1px solid #fff;
    outline-offset: -3px;
}

.ordered-products {
    margin-top: 20px;
    padding: 30px 10px;
    border-top: 1px solid #dbdbdb;
}

.ordered-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.ordered-product {
    display: flex;
    gap: 5px;
    max-width: 300px;
}

.ordered-product img {
    width: 100px;
    height: full;
    object-fit: contain;
    padding: 0 10px;
}

.ordered-product-name-div {
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

.ordered-product-name-div span {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    text-align: left;
    font-family: 'Lora', serif;
}

.ordered-product-name-div p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

@media screen and (max-width: 400px) {

    .edit-delivery-address {
        width: 300px;
    }
}

@media screen and (max-width: 300px) {

    .edit-delivery-address {
        width: 270px;
    }
}