
.All-Products-div {
    width: 100%;
    background-color: #fff;
}

.All-Products-div h1 {
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.AllProducts-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.get-Single-product {
    text-decoration: none;
    color: #333;
}